<div class="calendar row col-md-12">
  <% @calendar_range.each_with_index do |date, index| %>
    <% if date == date.beginning_of_month %>
      <div class="row">
        <div class="row center month col-md-12"> <%= date.strftime("%B") %> </div>
      </div>
    <% end %>
      <% if Job.date_present?(date, job) %>
        <div class="col-md-1 center days unavailable">
          <div id="date-<%=index%>-container">
            <%= date.day %>
          </div>
        </div>
      <% else %>
        <div class="addDate available" id="<%= date.to_s %> <%= index %>">
          <div class="col-md-1 center days day<%= index %>">
            <div id="date-<%=index%>-container">
                <%= date.day %>
            </div>
          </div>
        </div>
      <% end %>
    </tr>
    <tr>
  <% end %>
</div>
<%#= link_to 'Link with unobtrusive JavaScript', '#',class: "check_date" , :id => "#{date.to_s} #{@listing.id}" %>
      <!-- FINISH AJAX CALL LATER FOR MORE VALIDATIONS ON DATE CHOOSING -->
<script>
// $('.check_date').bind('click', function() {
//   params=this.id.split(" ");
//   // console.log(params.split(" "););
//     // alert('Unobtrusive!');
//   $.ajax({
//     url: '/check_date',
//     type: 'POST',
//     data: {
//       date: params[0],
//       listing_id: params[1]
//     }
//   });
//   // console.log(params);
// });
	$('.addDate').bind('click', function() {
      params=this.id.split(" ");
      date=params[0]
      index=params[1]
    $(".day"+index).addClass("greyed-out");
	  $("#date-"+index+"-container").append("<input type='hidden' name='dates[date"+index+"]' id='date-"+index+"' value="+date+" />");
	  if ($("input[id='date-"+index+"']").length>1){
      $(".day"+index).removeClass("greyed-out");
			$("input[id='date-"+index+"']").remove();
		}

	});

</script>
