<div class="row form-group-padding">
	<div class="form-group col-md-2">
		<%= text_field_tag selector, nil, class: 'typeahead form-control', placeholder: "ADD #{selector.to_s.upcase}" %>
		<br>
	</div>
</div>

<div class="row">
	<div class="form-group">
		<input class="existing-<%= selector %>-locations" name="existing-<%= selector %>-locations[]" id="existing-<%= selector %>-locations" style="padding:0px;">
			<% @job.locations.each do |location| %>

			<% end %>
		</input>
	</div>
</div>

<script>
	loadSelectionPool(<%= selector %>, false);
	locationSelector(<%= selector %>, false);
</script>