<div class="row center">
<h1>JOB ORGANIZER</h1>
<p>Start making jobs, today!</p>
</div>
<div class="row margin-bottom">
	<%= form_for([current_user, @job]) do |f| %>
		<div class="col-md-2">
			<%= f.text_field :title, class:"form-control", placeholder: "title" %>
		</div>
		<div class="col-md-2">
			<%= f.select :category, options_for_select(job_template_category_options, @job), {}, {:class=>'form-control', placeholder: 'category'} %>
		</div>


	<div class="col-md-2 job-create-location">
		<%= text_field_tag :market, nil, class: 'typeahead form-control', placeholder: 'Market' %>
	</div>

		<div class="col-md-2">
			<%= select_tag :months,['Female','Male','Both','N/A'], class: "form-control" %>
		</div>

			<%#= render 'new_job_location_select', selector: :cities %>
		<div class="col-md-2">
			<%= f.submit "create a job",:class=>"lb-button"  %>
		</div>
	<% end %>
</div>
<div class="row">


<div class="row">
	<div class="form-group">
		<ul class="existing-locations" style="padding:0px">
			<% @job.locations.each do |location| %>

			<% end %>
		<ul>
	</div>
</div>
		<% @jobs.each_with_index do |job, index| %>
			<div class="col-md-12">
				<div class="col-md-1">
				<%= link_to "", [current_user, job], :method  => :delete, class:"fa fa-trash-o", data: { confirm: "Are you sure you want to delete #{job.title}?" } %>
				</div>
				<div class="col-md-2">
				<%= best_in_place [current_user, job], :title, as: :input%>
				</div>
				<div class="col-md-4">
				<%= best_in_place [current_user, job], :category, as: :input%>
				<%=  "index:#{index} job-id:#{job.id}" %>
				</div>
					<% job.locations.each do |loc| %>
						<%= loc.name %>
					<%end%>
				<!-- <div class="col-md-2"> -->
				<%#= render 'new_job_location_select', selector: :cities %>
				<!-- </div> -->
				<%#= render "calendar", job: job %>
			</div>
		<% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	craigsListMarketSelectorForJobCreate();
	// craigsListMarketSelectorForJobUpdate();
// loadExistingMarkets(<%#= raw current_user.jobs.js_array %>);
	jQuery(".best_in_place").best_in_place();
});
</script>