<!DOCTYPE html>
<html>
  <head>
    <title>CraigslistForm</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/typeahead' %>
    <%= render 'layouts/bootstrap' %>
    <%= render 'layouts/fontawesome' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
